
<head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link rel="stylesheet" href="/static/css/style.css">

    <title>hOwOme</title>
    <link rel="shortcut icon" type="image/png" href="img/Adachi.png"/>


</head>

{%block navbar%}
<nav class="navbar navbar-expand-md navbar-dark"  style="background-color: #551a8b;">


  <div class="container-fluid">
   <a class="navbar-brand" href="#">my website uwu</a>
    <ul class="navbar-nav ">

      <li class="nav-item">
        <a class="nav-link" href="/blog">Blogposting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hottakes">Media review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/plushies">Plushies :3 </a>
      </li>
  <li class="nav-item">
        <a class="nav-link" href="/food"> Cooking </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/models">Modelling</a>
      </li>
    </ul>


  </div>

  </nav>
{%endblock%}
{%block bg%}

<img src="/static/img/Adachi.png">
{%endblock%}
